@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

body {
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100%;
}

.detail-header {
  background-color: rgba(2, 127, 255, 1);
  justify-content: space-around;
  height: 80px;
}

.detail-header,
.detail-header .nav-menu {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.detail-header > a {
  width: 16%;
}

.detail-header > a > img {
  width: 70%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-header > ul {
  width: 65%;
  justify-content: space-evenly;
  margin-left: -140px;
}

.detail-header ul li {
  list-style: none;
}

.detail-header ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.detail-header > img {
  width: 50px;
  height: 50px;
}

/* -------- book tour-------- */
.book-tour-container {
  width: 100%;
  position: relative;
  top: 120px;
  padding: 0 150px;
}

.book-tour-intro {
  display: flex;
  align-items: center;
}

.book-intro-title {
  width: 60%;
  margin-right: 20px;
}

.book-intro-title h1 {
  font-size: 40px;
}

.book-intro-title p {
  font-size: 18px;
  margin: 30px 0 50px 0;
}

.book-intro-image {
  width: 40%;
}

.book-intro-image img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.book-intro-search {
  display: flex;
  justify-content: space-between;
}

.input-box {
  width: 60%;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border: 1px solid #333;
  background: #fff;
  margin-top: 10px;
  color: #333;
  border-radius: 10px;
  font-size: 15px;
}

.search {
  display: flex;
  align-items: end;
  margin-left: 20px;
}

.search i {
  padding: 14px;
  background-color: #00bcd4;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

.input-guests,
.input-location {
  padding: 13.5px !important;
}

/* -------- places ---------- */
.book-tour-places {
  margin-top: 30px;
  position: relative;
}

.book-places-title {
  margin-bottom: 30px;
}

.book-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 50px;
}

.book-control i {
  position: absolute;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border: 1px solid #00bcd4;
  color: #00bcd4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.book-control i:hover {
  background: #00bcd4;
  color: #fff;
}

.book-control i:first-child {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.book-control i:last-child {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.book-places {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
}

.find-container {
  width: 28%;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.find-container:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2);
}

.find-container-top {
  width: 100%;
}

.find-container-top img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.find-container-bottom {
  line-height: 30px;
  padding: 10px 20px 20px 20px;
}

.find-bottom-address {
  display: flex;
}

.find-bottom-icon i {
  padding-right: 10px;
}

.find-bottom-money {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 20px 0;
}

.find-bottom-money h2 {
  color: #e61c5d;
}

.find-bottom-money p {
  font-size: 14px;
}

.find-bottom-time .item {
  position: relative;
}

.find-bottom-time {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 6px 10px;
  line-height: 25px;
}

#day,
#hour,
#minute,
#seconds {
  font-size: 16px;
  font-weight: bold;
}

.find-bottom-seats p {
  text-align: center;
  margin-top: 10px;
}

/* ------------- footer --------- */
.footer {
  background-color: #1b1b1b;
  position: relative;
  margin-top: 200px;
  padding-bottom: 100px;
}

.wrap-footer {
  padding: 60px 100px;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 15px;
}

.footer-list {
  list-style: none;
}

.footer-list li a {
  color: rgba(142, 144, 145, 1);
  text-decoration: none;
  line-height: 2;
  font-size: 14px;
  font-weight: 500;
}

.footer-list li a:hover {
  text-decoration: underline;
  color: white;
}

.footer-list-connect {
  display: flex;
  align-items: center;
}

.footer-list-icon {
  font-size: 18px;
  padding-right: 12px;
}

.custom-shape-divider-bottom-1679667216 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1679667216 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 133px;
}

.custom-shape-divider-bottom-1679667216 .shape-fill {
  fill: #2f4e84;
}

.slick-prev,
.slick-next {
  display: none !important;
} /* ------------- footer --------- */
.footer {
  background-color: #1b1b1b;
  position: relative;
  margin-top: 200px;
  padding-bottom: 100px;
}

.wrap-footer {
  padding: 60px 100px;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 15px;
}

.footer-list {
  list-style: none;
}

.footer-list li a {
  color: rgba(142, 144, 145, 1);
  text-decoration: none;
  line-height: 2;
  font-size: 14px;
  font-weight: 500;
}

.footer-list li a:hover {
  text-decoration: underline;
  color: white;
}

.footer-list-connect {
  display: flex;
  align-items: center;
}

.footer-list-icon {
  font-size: 18px;
  padding-right: 12px;
}

.custom-shape-divider-bottom-1679667216 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1679667216 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 133px;
}

.custom-shape-divider-bottom-1679667216 .shape-fill {
  fill: #2f4e84;
}

.slick-prev,
.slick-next {
  display: none !important;
}

/* ------------login------------- */
.header-form {
  display: none;
}

.header-nav-icon {
  display: flex;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 50px;
  margin-left: 20px;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.user-icon {
  margin-right: 10px;
}

.header-nav-form {
  position: relative;
}

.header-nav-form::after {
  content: "";
  position: absolute;
  height: 20px;
  width: calc(100% + 30px);
  background-color: transparent;
  top: 98%;
  left: 0;
}

.header-form-login {
  position: absolute;
  width: 216px;
  background-color: #fff;
  padding: 20px 0;
  margin-top: 16px;
  left: -50px;
  border-radius: 10px;
  line-height: 26px;
  box-shadow: 2px 4px 20px #0003;
}

.header-form-login::before {
  width: 30px;
  height: 30px;
  background-color: rgba(221, 221, 221, 1);
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: 96px;
  transform: rotate(45deg);
  z-index: -1;
}

.header-form-login > ul > li > a {
  font-weight: normal;
  line-height: 10px;
  color: #333;
  /* display: flex; */
  /* align-items: center; */
  width: 100%;
  height: 100%;
}

.header-form-login ul li {
  margin-left: 0 !important;
  text-indent: 20px;
  height: 40px;
}

.header-form-login ul li:hover {
  background-color: #e3e0e077;
}

.header-form-login ul li a:hover {
  color: var(--main-color);
}

/* ----------------logout----------- */
.header-form-logout {
  position: absolute;
  width: 265px;
  background-color: #fff;
  top: 135%;
  padding: 20px 0;
  margin-right: 20px;
  left: -80px;
  border-radius: 10px;
  box-shadow: 2px 4px 20px #0003;
  cursor: pointer;
}

.header-form-logout::before {
  width: 30px;
  height: 30px;
  background-color: rgba(221, 221, 221, 1);
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: 145px;
  transform: rotate(45deg);
  z-index: -1;
}

.header-form-avatar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 0 8px 20px;
}

.header-form-avatar i {
  font-size: 45px;
  margin-right: 10px;
  color: #b4b2b2;
}

.header-form-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.header-form-avatar:hover {
  background-color: #e3e0e077;
}

.header-form-avatar:hover .header-name span,
.header-form-avatar:hover .header-name p {
  color: var(--main-color);
}

.header-name {
  line-height: 22px;
}

.header-name span {
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

.header-name p {
  font-size: 14px;
  color: #333;
}

.header-name:hover {
  color: var(--main-color);
}

.header-form-booked {
  display: flex;
  align-items: center;
  font-size: 14.5px;
  color: #333;
  line-height: 40px;
  margin-top: 15px;
  padding-left: 20px;
}

.header-form-booked i {
  font-size: 13px;
  margin-right: 15px;
}

.header-form-booked:hover {
  background-color: #e3e0e077;
  color: var(--main-color);
}

.drop-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d6d5d5;
  top: 88px;
  left: 0;
}

.header-form-loved {
  font-size: 14.5px;
  color: #333;
  line-height: 40px;
  padding-left: 20px;
}

.header-form-loved i {
  margin-right: 10px;
}

.header-form-loved:hover {
  background-color: #e3e0e077;
  color: var(--main-color);
}

.form-logout {
  font-size: 14.5px;
  color: #333;
  line-height: 40px;
  padding-left: 20px;
}

.form-logout:hover {
  background-color: #e3e0e077;
  color: var(--main-color);
}

/* ------- My trip-------- */
.myTrip {
  margin-top: 60px;
  position: relative;
}

.slides_wrapp {
  margin-top: 10px;
}

.join-control i {
  position: absolute;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border: 1px solid #00bcd4;
  color: #00bcd4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
}

.join-control i:hover {
  background: #00bcd4;
  color: #fff;
}

.join-control i:first-child {
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
}

.join-control i:last-child {
  right: -70px;
  top: 50%;
  transform: translateY(-50%);
}

.blog-slider {
  width: 100%;
  position: relative;
  max-width: 880px;
  margin: auto;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
  padding: 25px;
  border-radius: 25px;
  height: 240px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.blog-slider__item {
  width: 100% !important;
  display: flex;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 30%;
  margin: 0px 30px;
  flex-shrink: 0;
  height: 180px;
  border-radius: 20px;
  transform: translateX(-10px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}

.blog-slider__content {
  padding-right: 25px;
  width: 70%;
}

@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}

.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 15px;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 10px;
  line-height: 1.2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 6px 20px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}

.blog-slider__trip {
  display: flex;
  justify-content: space-between;
}

.blog-slider__host {
  line-height: 50px;
  margin-bottom: 10px;
}

.slides3 {
  display: flex;
}

.fa-bell {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.notification {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.container-notification {
  max-height: none;
  min-height: 330px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  right: 180px;
  top: 90px;
  box-shadow: 2px 4px 20px #0003;
}

.wrap-notification {
  align-items: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 47px;
  justify-content: space-between;
  width: 100%;
}

.header-notification {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.header-notification p {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  padding: 12px 15px;
}

.content-notification {
  padding: 50px;
  text-align: center;
  width: 100%;
}

.content-notification-empty {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.empty-title {
  margin-top: 20px;
} 