* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

body {
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
}

.detail-header {
  background-color: #00bcd4;
  justify-content: space-around;
  height: 80px;
}

.detail-header,
.detail-header .nav-menu {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.detail-header > a {
  width: 16%;
}

.detail-header > a > img {
  width: 100%;
  object-fit: contain;
}

.detail-header > ul {
  width: 55%;
  justify-content: space-evenly;
  margin-left: -140px;
}

.detail-header ul li {
  list-style: none;
}

.detail-header ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.detail-header > img {
  width: 50px;
  height: 50px;
}

/* --------- profile---------- */
.profile-container {
  width: 100%;
  position: relative;
  top: 150px;
  padding: 0 140px;
}

.container {
  display: flex;
}

.profile-avatar {
  width: 30%;
  text-align: center;
  margin-right: 50px;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 20px;
}

.profile-avatar img {
  width: 40%;
  cursor: pointer;
  border: 1px solid #333;
  padding: 10px;
  margin-bottom: 14px;
  border-radius: 50%;
}

.profile-avatar p {
  font-weight: bold;
  font-size: 20px;
}

.form-action {
  display: flex;
  align-items: baseline;
  border: 1px solid #333;
  padding: 10px 20px;
  margin: 40px 0;
  border-radius: 10px;
  cursor: pointer;
}

.form-action i {
  padding-right: 10px;
  font-size: 16px;
}

.form-action p {
  font-size: 16px;
}

.profile-information {
  width: 70%;
}

.profile-title {
  display: flex;
  justify-content: space-between;
}

.profile-title h2 {
  font-size: 40px;
}

.profile-title button {
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #333;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  font-weight: 600;
}

.profile-title button:hover {
  color: #00bcd4;
  border: 1px solid #00bcd4;
}

.form-profile-wraper {
  margin-top: 50px;
}

.form-profile-info {
  display: flex;
  justify-content: space-between;
}

.form-profile-info label {
  margin-right: 40px;
  font-size: 18px;
  line-height: 40px;
  width: 30%;
  color: #333;
}

.form-profile-content {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  line-height: 40px;
  width: 70%;
}

.form-line {
  width: 100%;
  height: 0.1px;
  background-color: #d6d5d5;
  margin: 20px 0;
}

.form-profile-bio h2 {
  margin-bottom: 14px;
}

.tag {
  display: inline-block;
  color: #333333;
  margin: 0 15px 15px 0;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 15px;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* ----- profile edit------- */
.profile-genaral-edit {
  display: none;
}

.profile-save {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-save button {
  padding: 12px 15px;
  border-radius: 10px;
  color: #fff;
  background-color: #00bcd4;
  border: none;
  font-size: 16px;
}

.profile-save button:hover {
  color: #fff;
}

.profile-save p {
  margin-left: 30px;
  font-weight: bold;
  font-size: 17px;
  text-decoration: underline;
}

.profile-save p:hover {
  color: #00bcd4;
}

.form-profile-input {
  width: 100%;
  margin-left: 55px;
  display: flex;
}

.form-profile-text {
  border-radius: 10px;
  font-size: 16px;
  padding: 8px 16px;
  border: 1px solid #d6d5d5;
  width: 100%;
}

.form-profile-space {
  margin-bottom: 10px;
}

.form-bio {
  display: block;
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.choose-hobbies {
  border-radius: 10px;
  font-size: 16px;
  padding: 8px 16px;
  margin: 20px 0;
  border: 1px solid #d6d5d5;
  width: 80%;
}

.tag i {
  font-weight: bold;
  font-size: 16px;
  padding-right: 5px;
  cursor: pointer;
}



/* ------------login------------- */
.header-form {
  display: none;
}

.header-nav-icon {
  display: flex;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 50px;
  margin-left: 20px;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.user-icon {
  margin-right: 10px;
}

.header-nav-form {
  position: relative;
}

.header-nav-form::after {
  content: "";
  position: absolute;
  height: 20px;
  width: calc(100% + 30px);
  background-color: transparent;
  top: 98%;
  left: 0;
}

.header-form-login {
  position: absolute;
  width: 216px;
  background-color: #fff;
  padding: 20px 0;
  margin-top: 16px;
  left: -50px;
  border-radius: 10px;
  line-height: 26px;
  box-shadow: 2px 4px 20px #0003;
}

.header-form-login::before {
  width: 30px;
  height: 30px;
  background-color: rgba(221, 221, 221, 1);
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: 96px;
  transform: rotate(45deg);
  z-index: -1;
}

.header-form-login > ul > li > a {
  font-weight: normal;
  line-height: 10px;
  color: #333;
  /* display: flex; */
  /* align-items: center; */
  width: 100%;
  height: 100%;
}

.header-form-login ul li {
  margin-left: 0 !important;
  text-indent: 20px;
  height: 40px;
}

.header-form-login ul li:hover {
  background-color: #e3e0e077;
}

.header-form-login ul li a:hover {
  color: var(--main-color);
}

/* ----------------logout----------- */
.header-form-logout {
  position: absolute;
  width: 265px;
  background-color: #fff;
  top: 135%;
  padding: 20px 0;
  margin-right: 20px;
  left: -80px;
  border-radius: 10px;
  box-shadow: 2px 4px 20px #0003;
  cursor: pointer;
}

.header-form-logout::before {
  width: 30px;
  height: 30px;
  background-color: rgba(221, 221, 221, 1);
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: 145px;
  transform: rotate(45deg);
  z-index: -1;
}

.header-form-avatar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 0 8px 20px;
}

.header-form-avatar i {
  font-size: 45px;
  margin-right: 10px;
  color: #b4b2b2;
}

.header-form-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.header-form-avatar:hover {
  background-color: #e3e0e077;
}

.header-form-avatar:hover .header-name span,
.header-form-avatar:hover .header-name p {
  color: var(--main-color);
}

.header-name {
  line-height: 22px;
}

.header-name span {
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

.header-name p {
  font-size: 14px;
  color: #333;
}

.header-name:hover {
  color: var(--main-color);
}

.header-form-booked {
  display: flex;
  align-items: center;
  font-size: 14.5px;
  color: #333;
  line-height: 40px;
  margin-top: 15px;
  padding-left: 20px;
}

.header-form-booked i {
  font-size: 13px;
  margin-right: 15px;
}

.header-form-booked:hover {
  background-color: #e3e0e077;
  color: var(--main-color);
}

.drop-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d6d5d5;
  top: 88px;
  left: 0;
}

.header-form-loved {
  font-size: 14.5px;
  color: #333;
  line-height: 40px;
  padding-left: 20px;
}

.header-form-loved i {
  margin-right: 10px;
}

.header-form-loved:hover {
  background-color: #e3e0e077;
  color: var(--main-color);
}

.form-logout {
  font-size: 14.5px;
  color: #333;
  line-height: 40px;
  padding-left: 20px;
}

.form-logout:hover {
  background-color: #e3e0e077;
  color: var(--main-color);
}
