@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr: #29205c;
}

body {
  font-family: "Poppins", sans-serif;
}

.main {
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
