@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif !important;
}

.main {
  width: 100%;
}

.detail-header {
  background-color: rgba(2, 127, 255, 1);
  justify-content: space-around;
  height: 80px;
}

.detail-header,
.detail-header .nav-menu {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.detail-header > a {
  width: 16%;
}

.detail-header > a > img {
  width: 100%;
  object-fit: contain;
}

.detail-header > ul {
  width: 65%;
  justify-content: space-evenly;
  margin-left: -140px;
}

.detail-header ul li {
  list-style: none;
}

.detail-header ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.05rem;
}

.detail-header > img {
  width: 50px;
  height: 50px;
}

/* ------------login------------- */
.header-form {
  display: none;
}

.header-nav-icon {
  display: flex;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 50px;
  margin-left: 20px;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.user-icon {
  margin-right: 10px;
}

.header-nav-form {
  position: relative;
}

.header-nav-form::after {
  content: "";
  position: absolute;
  height: 20px;
  width: calc(100% + 30px);
  background-color: transparent;
  top: 98%;
  left: 0;
}

.header-form-login {
  position: absolute;
  width: 216px;
  background-color: #fff;
  padding: 20px 0;
  margin-top: 16px;
  left: -50px;
  border-radius: 10px;
  line-height: 26px;
  box-shadow: 2px 4px 20px #0003;
}

.header-form-login::before {
  width: 30px;
  height: 30px;
  background-color: rgba(221, 221, 221, 1);
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: 96px;
  transform: rotate(45deg);
  z-index: -1;
}

.header-form-login > ul > li > a {
  font-weight: normal;
  line-height: 10px;
  color: #333;
  /* display: flex; */
  /* align-items: center; */
  width: 100%;
  height: 100%;
}

.header-form-login ul li {
  margin-left: 0 !important;
  text-indent: 20px;
  height: 40px;
}

.header-form-login ul li:hover {
  background-color: #e3e0e077;
}

.header-form-login ul li a:hover {
  color: var(--main-color);
}

/* ----------------logout----------- */
.header-form-logout {
  position: absolute;
  width: 265px;
  background-color: #fff;
  top: 135%;
  padding: 20px 0;
  margin-right: 20px;
  left: -80px;
  border-radius: 10px;
  box-shadow: 2px 4px 20px #0003;
  cursor: pointer;
}

.header-form-logout::before {
  width: 30px;
  height: 30px;
  background-color: rgba(221, 221, 221, 1);
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: 145px;
  transform: rotate(45deg);
  z-index: -1;
}

.header-form-avatar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 0 8px 20px;
}

.header-form-avatar i {
  font-size: 45px;
  margin-right: 10px;
  color: #b4b2b2;
}

.header-form-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.header-form-avatar:hover {
  background-color: #e3e0e077;
}

.header-form-avatar:hover .header-name span,
.header-form-avatar:hover .header-name p {
  color: var(--main-color);
}

.header-name {
  line-height: 22px;
}

.header-name span {
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

.header-name p {
  font-size: 14px;
  color: #333;
}

.header-name:hover {
  color: var(--main-color);
}

.header-form-booked {
  display: flex;
  align-items: center;
  font-size: 14.5px;
  color: #333;
  line-height: 40px;
  margin-top: 15px;
  padding-left: 20px;
}

.header-form-booked i {
  font-size: 13px;
  margin-right: 15px;
}

.header-form-booked:hover {
  background-color: #e3e0e077;
  color: var(--main-color);
}

.drop-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d6d5d5;
  top: 88px;
  left: 0;
}

.header-form-loved {
  font-size: 14.5px;
  color: #333;
  line-height: 40px;
  padding-left: 20px;
}

.header-form-loved i {
  margin-right: 10px;
}

.header-form-loved:hover {
  background-color: #e3e0e077;
  color: var(--main-color);
}

.form-logout {
  font-size: 14.5px;
  color: #333;
  line-height: 40px;
  padding-left: 20px;
}

.form-logout:hover {
  background-color: #e3e0e077;
  color: var(--main-color);
}

/* ------------supplierPages---------- */
.card_wrap {
  width: 1100px;
  margin: auto;
}

.manager-tours {
  background-color: #fff;
  padding: 40px 20px 60px 20px;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  border-radius: 10px;
  position: relative;
  top: 120px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header h1 {
  font-size: 23px;
  margin-bottom: 10px;
}

.btn-toolbar {
  background: #0071c2;
  border-radius: 5px;
}

.postNew-residence {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.postNew-residence i {
  margin-right: 10px;
  font-size: 18px;
}

.postNew-residence:hover {
  background: #0071c2;
  border-radius: 5px;
}

.container-search {
  margin: 10px 0 40px 0;
  display: flex;
}

.search-input {
  position: relative;
}

.search-input input:focus {
  border: 1px solid #0071c2;
  box-shadow: 0px 0px 3px #0071c2;
}

.search-input input {
  padding: 10px 10px 10px 44px;
  font-size: 15px;
  border: 1px solid #b4b2b2;
  border-radius: 100px;
  width: 140%;
}

.search-input i {
  position: absolute;
  font-size: 16px;
  top: 11px;
  left: 14px;
  color: var(--main-color);
}

.list-info {
  line-height: 30px;
}

.list-info-content {
  width: 70%;
  line-height: 30px;
}

.list-info-content h3 {
  margin-bottom: 10px;
  text-align: start;
}

.list-info-content span {
  display: flex;
  align-items: center;
}

.list-info-content span i {
  margin-right: 10px;
  font-size: 18px;
}

.list-action {
  font-size: 16px;
  cursor: pointer;
}

.list-action a {
  text-decoration: none;
}

.fa-pencil {
  padding: 12px;
  border: 1px solid #0071c2;
  border-radius: 50%;
  color: #0071c2;
}

.fa-pencil:hover {
  color: #fff;
  background-color: #0071c2;
}

.fa-trash-can {
  padding: 12px;
  border: 1px solid #f44336;
  border-radius: 50%;
  color: #f44336;
}

.fa-trash-can:hover {
  color: #fff;
  background-color: #f44336;
}

table {
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
  border-collapse: collapse;
}

table tr th {
  text-align: center;
  font-size: 16px;
}

th {
  border-bottom: 1px solid black;
}

/* th:not(th:nth-child(2)) {
  width: 10%;
} */

th:nth-child(2) {
  width: 30%;
}

th:nth-child(1) {
  width: 15%;
}

th,
td {
  padding: 10px 0;
}

td {
  border-bottom: 1px solid #b4b2b2;
  padding: 20px 0;
  text-align: center;
}

/* ---------------pagination------------ */
.pagination {
  text-align: center;
  margin-top: 60px;
  user-select: none;
}

.pagination li {
  display: inline-block;
  margin: 5px;
}

.pagination li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  line-height: 40px;
}

.previous-page,
.next-page {
  background: #0071c2;
  width: 80px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s ease;
}

.previous-page:hover {
  transform: translateX(-5px);
}

.next-page:hover {
  transform: translateX(5px);
}

.current-page {
  background: #ccc;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background: #0071c2;
}

.disable {
  background: #ccc;
}

/* ------------- footer --------- */
.footer {
  background-color: #1b1b1b;
  position: relative;
  margin-top: 200px;
  padding-bottom: 100px;
}

.wrap-footer {
  padding: 60px 100px;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 15px;
}

.footer-list {
  list-style: none;
}

.footer-list li a {
  color: rgba(142, 144, 145, 1);
  text-decoration: none;
  line-height: 2;
  font-size: 14px;
  font-weight: 500;
}

.footer-list li a:hover {
  text-decoration: underline;
  color: white;
}

.footer-list-connect {
  display: flex;
  align-items: center;
}

.footer-list-icon {
  font-size: 18px;
  padding-right: 12px;
}

.custom-shape-divider-bottom-1679667216 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1679667216 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 133px;
}

.custom-shape-divider-bottom-1679667216 .shape-fill {
  fill: #2f4e84;
}
